<div id="signup_form">

            <div class="login_box_two">
  <%= form_for @user, :url => users_path do |f| %>
    <%= render "shared/error_messages", :target => @user %>
                <table width="100%" border="0">
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">First Name</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_field :user, :first_name, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Last Name</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_field :user, :last_name, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Email</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_field :user, :email, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                   
                    <%= hidden_field :user, :type, :value => "Parent" %>
                   
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Password</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_field :user, :password, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Confirm Password</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_field :user, :password_confirmation, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                     <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Mobile number</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_field :user, :mobile_number, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                       <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Student Registration </td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_area :user, :student_registration, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                                        
                    <tr>
                        <td width="2%">&nbsp;</td>
                        <td width="28%" align="right">Address</td>
                        <td width="5%">&nbsp;</td>
                        <td width="65%"><%= text_area :user, :address, :style => 'width:234px; height:30px; border:#999999 1px solid;' %></td>
                    </tr>
                    
                    <tr>
                        <td>&nbsp;</td>
                        <td></td>
                        <td width="5%">&nbsp;</td>
                        <td>
                           <br/>
                           <input name="commit" type="image" src="/img/save.png" width="67" height="29" />
                           &nbsp;&nbsp;Or &nbsp;&nbsp; <%= link_to "Cancel", "/home" %>
                        </td>
                    </tr>
                </table>
  <% end %>
            </div>
  
</div>

