


<div class="mid">
    <div class="login_head_box">
        <div style="width:300px; float:left; margin:15px 0 0 15px; font-family:'Segoe UI'; font-size:15px; font-weight:bold; color:#000000;">
            <img src="/img/person.png" width="16" height="14" />&nbsp;&nbsp;Admin - Add User</div>
        <div style="width:300px; float:right; text-align:right; margin:15px 0 0 15px; font-family:'Segoe UI'; font-size:15px; font-weight:bold; color:#0036ff;"> <%= link_to "Logout", logout_path %> &nbsp;&nbsp;&nbsp;&nbsp;</div>
    </div>
    <div class="spacer"></div>
    <div class="spacer1"></div>
    
    <div id="signup_form">

       <div class="login_box_two">
              <%= form_for @user, :url => users_path do |f| %>
                    <%= render "shared/error_messages", :target => @user %>
                    
                    <% if params[:type] == "Student" || @user_type == "Student" %>
     
                         <%= render 'student_form', :f => f %>
     
                    <% elsif params[:type] == "Parent" || @user_type == "Parent" %>
     
                         <%= render 'parent_form', :f => f %>
     
                    <% end %>   
                    
              <% end %>
            
        </div>

    </div>
    
</div>

